/* ================================================= */
/* 1. CORE STYLES */
/* ================================================= */

.background {
    --header-height: 9vh;
    --aside-width: 250px;
    --bottom-bar-height: 75px;
    --left-right-padding: 70px;
    --top-bottom-padding: 30px;
    --theme-color-black: #000000;
    --theme-color-blue: #0d046f;
}

/* Main features */
.mainContent {
    position: absolute;
    top: var(--header-height);
    left: var(--aside-width);
    right: 0;
    flex: 1;
    /* Padding này trừ hao cho Sidebar (đè lên bên trái) và Bottombar (đè lên bên dưới) */
    padding: var(--top-bottom-padding) var(--left-right-padding) calc(var(--bottom-bar-height) + var(--top-bottom-padding)) var(--left-right-padding);
    // box-sizing: border-box;
    background-image: linear-gradient(#000000 50%, #0d046f);
    min-height: calc(100vh - var(--header-height));
    height: fit-content;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.featured-section {
    color: white;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.featured-section p {
    margin: 5px 0;
    font-size: 18px;
    color: rgb(173, 173, 173);
}

/* Song items */
.featured-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    justify-content: flex-start;
    padding-bottom: 10px;
    
    /* Ẩn thanh scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}

.featured-item {
    flex: 0 0 auto;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.track-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.track-image {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.track-title {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.scroll-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 30px;
    transition: background-color 0.3s;
    z-index: 10;
    width: 30px;
    aspect-ratio: 1 / 1;
}

.scroll-btn img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.scroll-btn.left {
    left: 5px;
    padding-right: 2px;
}

.scroll-btn.right {
    right: 5px;
    padding-left: 2px;
}

/* ========================================================= */
/* 2. RESPONSIVE - MOBILE & TABLET */
/* ========================================================= */

@media (max-width: 1024px) {
    /* --- CHỈNH MAIN --- */
    .mainContent {
        // Do sidebar thu nhỏ xuống bottom nên dời left về 0
        left: 0;
    }

    @media (max-width: 600px) {
        .mainContent {
            /* Padding nhỏ lại cho
                mobile */
            padding: var(--top-bottom-padding) 20px calc(var(--bottom-bar-height) + var(--top-bottom-padding)) 20px;
        }

        .featured-item {
            width: 150px;
        }
    }
}