/* Header navigation */
.background{
    --header-height: 8vh;
    --theme-color: #111214;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--theme-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: var(--header-height);
}

/* Logo styles */
header #logo {
    margin: -35px 0 -35px -75px;
    height: 150px;
}

/* Search bar styles */
.search-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    width: 40%;
    max-width: 520px;
    height: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #1a1a1a; 
    border: 1px solid #5e5c5c;   
    border-radius: 20px;       
    padding: 0.5rem 1rem;
    width: 450px;              
    color: rgb(255, 255, 255);
    height: 80%;
}

.search-bar:hover {
    border: 1px solid #ffffff;  
    box-shadow: 0px 0 10px rgba(251, 251, 251, 0.8); 
}

.search-bar:focus-within {
    border: 1px solid #ffffff;   
    box-shadow: 0px 0 10px rgba(251, 251, 251, 0.8);
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: filter 0.3s, opacity 0.3s;
    display: flex;
}

.search-btn img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

.search-btn img:hover {
    opacity: 1;           
    filter: brightness(1.2);
}

.search-bar input {
    flex: 1;      
    background-color: #ffffff;             
    background: transparent;   
    border: none;             
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    margin: 0 0.5rem;
}

.micro-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: filter 0.3s, opacity 0.3s;
    display: flex;
}

.micro-button img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

.micro-button:hover img {
    opacity: 1;           
    filter: brightness(1.2);
}

.clear-btn {
    background: none;
    border: none;
    color: #aaa;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.2s;
    display: flex;
}

.clear-btn img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

.clear-btn:hover img {
    opacity: 1;
    filter: brightness(1.2);
}

/* Profile button */
#profile-button {
    background: none;
    border: none;
    cursor: pointer;
}
#profile-button img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid #ccc;
    background: white;
}

/* Sidebar details */
aside {
    width: 250px;
    padding: 20px;
    background-color: var(--theme-color);
    height: calc(100vh - var(--header-height));
    box-sizing: border-box;
    color: black;
    position: fixed;
    top: var(--header-height);
    left: 0;
}

aside ul {
    list-style-type: none;
}

aside ul li a {
    margin: 8px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    background-color: #e0e0e0;
    color: black;
}

aside ul li a:hover {
    text-decoration: underline;
    box-shadow: inset 0 0 10px #00286A;
}

aside ul li img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* Main features */
main {
    position: absolute;
    left: 250px;
    top: var(--header-height);
    flex: 1;
    padding: 20px 80px 20px 80px;
    box-sizing: border-box;
    background: linear-gradient(to top, #00286A 0%, var(--theme-color) 68%);
    min-height: calc(100vh - var(--header-height));
    width: 100%;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.featured article{
    color: white;
}

.featured article p{
    margin: 5px 0;
    font-size: 18px;
    color: rgb(173, 173, 173);
}

/* Song items */
.featured-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.featured-container span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-container img {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 20px;
    object-fit: cover;
}