/* Header navigation */
.background{
    background-color: #f0f0f0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    height: ;
}

header #logo {
    margin: -35px 0 -35px -75px;
    height: 120px;
}

header .search-bar {
    display: flex;
    align-items: center;
}

header .search-bar input{
    background-color: #c9c9c9;
	border: none;
	border-radius: 30px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 300px;
	color:rgb(0, 0, 0);
	font-family: inherit;
    transition: all 0.3s ease;
}

header .search-bar input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

#search-button{
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-left: -40px;
}

#search-button img{
    background: none;
    width: 20px;
}

/* header .search-bar input::placeholder {
} */

/* Sidebar details */
aside {
    width: 250px;
    padding: 20px;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    height: 100vh;
    box-sizing: border-box;
    color: black;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* Main features */
main {
    position: absolute;
    left: 250px;
    top: 76px;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
}