/* Header navigation */
.background{
    --header-height: 8vh;
    --theme-color: #111214;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--theme-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: var(--header-height);
}

/* Logo styles */
header #logo {
    margin: -35px 0 -35px -75px;
    height: 150px;
}

/* Search bar styles */
.search-bar {
    display: flex;
    align-items: center;
    width: 450px;
}

.search-bar input{
    background-color: #000000;
	border: 2px solid #ccc;
	border-radius: 50px;
	padding: 12px 75px 12px 45px;
	margin: 8px 0;
	width: 400px;
	color:rgb(255, 255, 255);
	font-family: inherit;
    transition: all 0.3s ease;
}

.search-bar input::placeholder {
    color: #ffffff;
}

.search-bar input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(251, 251, 251, 0.8);
}

/* Search button */
.search-button{
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-right: -35px;
    display: flex;
}

.search-button img{
    width: 16px;
    height: 16px;
    opacity: 0.7;
}

.search-button:hover img{
    opacity: 1;
    filter: brightness(1.2);
}

/* Clear button */
.clear-btn {
    background: none;
    border: none;
    color: #aaa;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.2s;
    display: flex;
    position: absolute;
    right: 40vw;
}

.clear-btn img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

.clear-btn:hover img {
    opacity: 1;
    filter: brightness(1.2);
}

/* Microphone button */
.micro-button {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: filter 0.3s, opacity 0.3s;
    position: absolute;
    right: 38vw;
}

.micro-button img {
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

.micro-button:hover img {
    opacity: 1;
    filter: brightness(1.2);
}

/* Profile button */
#profile-button {
    background: none;
    border: none;
    cursor: pointer;
}
#profile-button img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid #ccc;
    background: white;
}

/* Sidebar details */
aside {
    width: 250px;
    padding: 20px;
    background-color: var(--theme-color);
    height: calc(100vh - var(--header-height));
    box-sizing: border-box;
    color: black;
    position: fixed;
    top: var(--header-height);
    left: 0;
}

aside ul {
    list-style-type: none;
}

aside ul li a {
    margin: 8px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    background-color: #e0e0e0;
    color: black;
}

aside ul li a:hover {
    text-decoration: underline;
    box-shadow: inset 0 0 10px #00286A;
}

aside ul li img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* Main features */
main {
    position: absolute;
    left: 250px;
    top: var(--header-height);
    flex: 1;
    padding: 20px 80px 20px 80px;
    box-sizing: border-box;
    background: linear-gradient(to top, #00286A 0%, var(--theme-color) 68%);
    min-height: calc(100vh - var(--header-height));
    width: 100%;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.featured article{
    color: white;
}

.featured article p{
    margin: 5px 0;
    font-size: 18px;
    color: rgb(173, 173, 173);
}

/* Song items */
.featured-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.featured-container span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-container img {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 20px;
    object-fit: cover;
    display: block;
}